<!DOCTYPE html>
<html class="">

<head>
  <title>台北護理健康大學-資料庫課程</title>
  <link rel="stylesheet" href="externals/Bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style/index.css">
</head>

<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
  <div class="wrapper">
    <form id="login" action="/login" method="post" class="login-form">
      <div class="header">
        <h1>北護ATM</h1>
        <span>歡迎來到資管系 資料庫管理系統DEMO</span>
      </div>
      <div class="content">
        <input id="username" type="text" class="input username" name="username" placeholder="帳號""
          autofocus>
        <input id="
          password" type="password" class="input password" name="password" placeholder="密碼">
      </div>
      <div class="footer">
        <button type="submit" class="button">登入</button>
      </div>
    </form>
  </div>
</body>

</html>